
.productViewContainer{
    width: 80%;
    margin: 0 auto;
}

.productImgContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70vh;
    background: rgb(255, 249, 253);
    border-radius: 10px;
}

.productImg{
    width: 400px;
}

.productFeatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 300px;
    border-bottom: .5px solid silver;
    padding: 10px 0px;
}

.cartCount{
    width: 50px;
    height: 30px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.btnCount{
    width: 40px;
    height: 30px;
    outline: none;
    border: none;
    background: rgb(4, 8, 224);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.btnCountMinus{
    width: 40px;
    height: 30px;
    outline: none;
    border: none;
    background: rgb(255, 0, 128);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.relatedItemContainer{
    margin: 50px 0px;
}
.relatedItemContainer h1{
    margin: 0px 0px 20px 0px;
}